@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-placeholder {
  @apply text-[#464D67] /* Apply any Tailwind utility classes */;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Sans-Serif";
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.cards-bg {
  background-color: rgb(14, 16, 24);
}

.styled-bg {
  background-image: url("/assets/images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

*:has(.gradient-border),
*:has(.gradient-border1) {
  isolation: isolate;
}

.normal-gradient-border {
  position: relative;
  background-color: inherit;
}
.normal-gradient-border::before {
  content: "";
  position: absolute;
  inset: -1px -1px -1px -1px;
  z-index: -1;
  background-image: linear-gradient(90deg, #1f2129 0%, #979eb8 100%);
  border-radius: inherit;
}

.gradient-border,
.gradient-border1 {
  position: relative;
  background-color: inherit;
}
.gradient-border:hover::before,
.gradient-border1::before {
  content: "";
  position: absolute;
  inset: -1px -1px -1px -1px;
  z-index: -1;
  background-image: linear-gradient(90deg, #1f2129 0%, #979eb8 100%);
  border-radius: inherit;
}

.gradient {
  background: linear-gradient(90deg, #6b4b9f 0%, #e60b8e 50%);
}

.transaction-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; /* Ensure the element is a block to use truncation */
  max-width: 100%; /* Ensure it takes the full width of the container */
}

/* For Webkit Browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #1a1c22; /* Background of the scrollbar track */
  border-radius: 8px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #44475a; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #6272a4; /* Color when hovering over the scrollbar thumb */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #44475a #1a1c22; /* thumb color track color */
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track {
  background: #1a1c22;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #44475a;
  border-radius: 8px;
  border: 2px solid #1a1c22; /* Adds a little space around the thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background: #6272a4;
}
